body {
    font-family: "roboto", sans-serif;
}

a {
    text-decoration: none;
}

{
    outline: 1px solid red;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}

.side {
    padding: 0 110px;
}


/* ----- Первый экран -----*/

.intro {
    margin-bottom: 65px;
}

.content_intro {
    display: flex;
    justify-content: center;
}

.intro__button {
    margin-top: 100px;
}

.btn__intro {
    display: flex;
    margin: 10px
}

.icon__intro {
    margin-right: 20px;
}

.text_btn_intro {
    background: #fff;
    text-align: center;
    color: #b8da29;
    border: 4px solid #b8da29;
    border-radius: 30px;
    width: 220px;
    height: 50px;
    line-height: 50px;
    font-weight: 700;
    font-size: 16px;
    box-shadow: 3px 3px 3px 0 rgba(26, 22, 26, .6);
}

.head {
    font-size: 2em;
    color: #6c6c6c;
}

.text {
    font-size: 15px;
    color: rgba(0, 0, 0, .6);
    line-height: 22px;
    letter-spacing: 0.3px;
}

.gallery_than_do {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.callback_section {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    background-color: #f8f8f8;
}

.video-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stroller-factory__content {
    display: flex;
}

.stroller-factory__content__picture {
    padding: 0 10px 0 50px;
}

.list {
    list-style: url('img/right_arrow_icon.png');
    padding-left: 10px;
    margin: 25px 0;
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 15px;
    color: rgba(0, 0, 0, .6);
    line-height: 22px;
    letter-spacing: 0.3px;
}

.stroller-delivery_picure {
    display: flex;
    justify-content: center;
}

.thanks-mom {
    text-align: center;
}

.benefits-cleaning_bckg {
    margin-top: 40px;
    min-height: 400px;
    background-image: url(img/thanks-mom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.our-slider {
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}

.prise-stroller_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.price-stroller_item {
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 10px;
    font-weight: 600;
    margin: 20px 0;
}

.price-stroller_name {
    width: 300px;
    padding: 20px 40px;
    background-color: #c4d403;
    border-radius: 20px;
    margin-right: -50px;
}

.price-stroller_cost {
    width: 150px;
    padding: 20px 5px;
    background-color: #96a639;
    border-radius: 40px;
    text-align: center;
}

